<%=first_n%>
please enter last name
<form method = "post" action = "l_name">
 	<input type = "text" name = "l_name"> 
 	<input type = "submit" value = "entre">
 	<input type = "hidden" name = "f_name"
 	value = "<%=first_n%>">
 </form>
