<%=msg%>
<h1>                     User Login       </h1>
<form method="post" action="username">
	<input type="text" name="username">
	<input type="text" name="password">
	<input type="submit" value="!!BUTTON!!">
</form>
