<%=first%> <%=last%>
whas yo 3 favrut numbahs??
<form method = "post" action = "numbers">
 	<input type = "number" name = "num1" required> 
 	<input type = "number" name = "num2" required>
 	<input type = "number" name = "num3" required>
 	<input type = "submit" value = "entre">
 	<input type = "hidden" name = "f_name"
 	value = "<%=first%>">
 	<input type = "hidden" name = "l_name"
 	value = "<%=last%>">
 	</form>
 	

