<%=frstn%>

	<H1>Graciously contribute thy surname</H1>


<form method = "post" action = "surname">
	<input type = "text" name = "s_name">
	Submit:?
	<input type = "submit" value = "DEPRESSETH THIS BUTTON">
	<input type = "hidden" name = "frstn" value = "<%=frstn%>">
</form>	

