<%=frstn%>
	Graciously contribute thy surname
<form method = "post" action = "surname">
	<input type = "text" name = "s_name">
	<input type = "submit" value = "DEPRESSETH THIS BUTTON">
	<input type = "hidden" name = "frstn" value = "<%=frstn%>">
</form>	

