<%=frstn%> <%=s_name%> <%=fur%>
?What be the hue of thine eyes?
<form method = "post" action = "balls">
	<input type="text" name="orbs" required>
	Submit
	<input type="submit" value="YETANOTHERBUTTON" required>
	<input type="hidden" name="frstn" value="%=<frstn%>">
	<input type="hidden" name="s_name" value="%=s_name">
	<input type="hidden" name="fur" value="<%=fur%>">
	</form>

