<%=fstn%> <%=sur%>
?What be the color of thy hair and eyes?
<form method = "post" action = "fur_orbs">
	<input type="text" name="fur" required>
	<input type="text" name="orbs" required>
	<input type="submit" value="YETANOTHERBUTTON" required>
	<input type="hidden" name="fname" value="%=<fstn%>">
	<input type="hidden" name="s_name" value="%=sur">
	<input type="hidden" name="visage" value="<%=vis%>">
</form>


