<%=frstn%> <%=s_name%>

	<h1>?What be the color of thy hair?</h1>

<form method = "post" action = "furry">
	<input type="text" name="fur" required>
	Submit:?
	<input type="submit" value="ANOTHERBUTTON">
	<input type="hidden" name="frstn" value="<%=frstn%>">
	<input type="hidden" name="s_name" value="<%=s_name%>">
	</form>


