<%=frstn%> <%=s_name%>
?What be the color of thy hair?
<form method = "post" action = "fur">
	<input type="text" name="furry" required>
	Submit
	<input type="submit" value="YETANOTHERBUTTON" required>
	<input type="hidden" name="frstn" value="%=<frstn%>">
	<input type="hidden" name="s_name" value="%=s_name">
	</form>


