<%=1stn%>
	Graciously contribute thy surname
<form method="post" action= "s_name">
	<input type="text" name="s_name">
	<input type="submit" value="DEPRESS THIS BUTTON">
	<input type="hidden" name="fstn" value="<%=1stn%>">
</form>	

